<div title="<%= '_[[Alarm Event]]' %>" class="alarm-event active" id="event_<%= data.event.id %>">
    <fieldset class="alarm">
		<legend class="hidden"><%= '_[[Event alarm]]' %></legend>
				<div class="new-event-alarm">
                    <b><%= '_[[You have a scheduled appointment]]' %>:</b>
				</div>
				<div class="title-event-alarm">
					<label><%= '_[[Title]]' %>:</label>
					<span class="tip"><%= data.event.schedulable.summary%></span>
				</div>
				<div class="description-event-alarm">
					<label><%= '_[[Date]]' %>:</label>
					<span class="tip"><%= data.event.event_start%></span>
					<label><%= '_[[Hour]]' %>:</label>
					<span class="tip"><%= data.event.schedulable.startTime%></span>
				</div>
				
				<div class="inicialize-event-alarm">
					<label><%= '_[[Your commitment starts at]]' %>:</label>
					<span class="tip"><%=data.event.schedulable.time %> <%=data.event.schedulable.unit%></span>
				</div>
    </fieldset>
 </div>