<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../prototype/modules/calendar/css/print.css" />
		<title><%= '_[[Monthly view]]' %></title>

	<body>	
	<div class="month">
		<div class="title_print"> <img src="../prototype/modules/calendar/img/navbar.png"> <%= data.InfoPage %> </div>
		<% if(data.days){%>
		<div class="content_month_print">	
			<%	
			
				for(var i=0; i < data.days.events.length; i++){
					for(var jj in data.days.events[i]){
			%>
				<span class="month_day_print"><%= jj %></span>
				<ul class="calendar_list_print">
				<% for(var ii=0; ii<data.days.events[i][jj].events.length; ii++){ 
				
					var hora, currentEvent = data.days.events[i][jj].events[ii];
					
					hora = (!currentEvent.isOneDay) ? (currentEvent.startDate +" - "+ currentEvent.startHour +" | "+ currentEvent.endDate +" - "+ currentEvent.endHour) : 
						   (currentEvent.allDay ? "_[[All day]]" : currentEvent.startHour + " - " + currentEvent.endHour);
					
				%>
					<%
							var img_type = "";
							var title_type = "";
							if(data.days.events[i][jj].events[ii].type == '1'){
								img_type = "../prototype/modules/calendar/img/mini-event.png";
								title_type = "_[[Event]]";
							}if(data.days.events[i][jj].events[ii].type == '2'){
								img_type = "../prototype/modules/calendar/img/mini-task.png"; 
								title_type = "_[[Task]]";
							}if(data.days.events[i][jj].events[ii].type == '3'){
								img_type = "../prototype/modules/calendar/img/mini-activity.png"; 
								title_type = "_[[Activity]]";
							}
							%>
							<li class="calendar_item_print"><img title="<%= title_type %>" src="<%= img_type %>"><span><%= hora %> | <%= data.days.events[i][jj].events[ii].summary %></span></li>
				<% } %>
				</ul>
				<br>
			<%	
					}
				}
			%>
		</div><!--days-->
		<%}%>
	</div><!--mounth-->
	</body>
</html>