<%if(!!parseInt(data.type)){%>
<div class="configure-calendars-win active" title="<%= '_[[Group Tasks Settings]]' %>">
	<h3><%= '_[[Group Tasks Preferences]]' %></h3>
<%}else{%>
<div class="configure-calendars-win active" title="<%= '_[[Agenda Settings]]' %>">
	<h3><%= '_[[Agenda Preferences]]' %></h3>
<%}%>
	<div  class="header-menu-container">
		<a class="button cancel" href="#"><%= '_[[Cancel]]' %></a>
		<a class="button save" href="#"><%= '_[[Save]]' %></a>
	</div>
	<% for (var i=0; i<data.signatures.length; i++) { %>
		<fieldset class="user-calendar" title="<%= data.calendars[i].name%>" >
			<legend><%= data.calendars[i].name%></legend>
		</fieldset>
	<%} //for each signatures %>
<!--	
	<fieldset class="user-calendar" title="Calendar hipotético 2"> 
		<legend>Calendar hipotético 2</legend>
	</fieldset>
	<fieldset class="user-calendar" title="Calendar hipotético 3">
		<legend>Calendar hipotético 3</legend>
	</fieldset>
	-->
	<div class="footer-menu-container">
		<a class="button cancel"><%= '_[[Cancel]]' %></a>
		<a class="button save"><%= '_[[Save]]' %></a>
	</div>

</div>