<%

    var encoder = {};
    encoder.alarm = {'1':'_[[of event]]','2':'_[[of task]]','3':'_[[of activity]]'};
    encoder.status = {'1':'_[[I will]]', '2':'_[[Maybe]]', '3':'_[[I will not]]' , '4':'_[[No Answer]]'};
    encoder.statusEvent = {1: '_[[No actions]]', 2: '_[[In process]]', 3: '_[[Complete]]', 4: '_[[Canceled]]'};
    encoder.priority = {1: '_[[High]]', 2: '_[[Normal]]', 3: '_[[Low]]'};

    var _event = data['_event'];
%>

<fieldset class="fields-details-event-list">
    <%if(_event.allDay){%>
    <p class="input-group date-info">
        <label><%= '_[[Duration]]' %>:</label>
        <span class=""><%= '_[[Full day]]' %></span>
    </p>
    <%}else{%>
    <p class="input-group date-info">
        <label><%= '_[[Initiation]]' %>:</label>
        <span class=""><%= _event.startDate %> <%= '_[[the]]' %> </span>
        <span class=""><%= _event.startHour %></span>

    </p>
    <p class="input-group">
        <label>Término:</label>
        <span class=""><%= _event.endDate %> <%= '_[[the]]' %> </span>
        <span class=""><%= _event.endHour %></span>
        <span><%= _event.timezone %></span>
    </p>
    <%}%>

    <%if(_event.type == '1'){
    if(_event.repeat ){%>
    <p class="input-group">
        <label><%= '_[[Repetition]]' %></label>
        <span><%= _event.repeat %></span>
    </p>
    <%}}%>

    <p class="input-group">
        <label><%= '_[[Alarms]]' %>:</label>
            <span class="large" >
                <% for (var l=0; l < _event.alarms.length; l++) { %>
                    <span class="large" ><%= '_[[You will be notified by a]]' %> <%= dateCalendar.alarmtype[_event.alarms[l].type]%> <%= _event.alarms[l].time %> <%= dateCalendar.timeunit[_event.alarms[l].unit]%><%=_event.alarms[l].time > 1 ? 's' : '' %> <%= '_[[before]]' %> <%= encoder.alarm[ _event.type ] %></span>
                <% } %>
            </span>
    </p>


    <%if(_event.type == '1'){%>
    <p class="input-group">
        <label><%= '_[[Local]]' %>:</label>
        <span><%= _event.location %></span>
    </p>
    <%}%>
    <p class="input-group">
        <label><%= '_[[Description]]' %>:</label>
        <span class="large" ><%= _event.description %></span>
    </p>
    <%if(_event.type != '1'){%>
    <p class="input-group">
        <label><%= '_[[Priority]]' %>:</label>
        <span><%= encoder.priority[_event.priority] %></span>
    </p>
    <p class="input-group">
        <label>% <%= '_[[Conclusion]]' %>:</label>
        <span><%= _event.percentage %>%</span>
    </p>
    <p class="input-group">
        <label>Status:</label>
        <span><%= encoder.statusEvent[_event.status] %></span>
    </p>
    <%}%>

    <%if(_event.organizer && _event.organizer.user){%>
    <p class="input-group">
        <label><%= '_[[Organizer]]' %>:</label>
        <span class="large"><%= _event.organizer.user ? _event.organizer.user.name : _event.organizer.name %>  (<%= _event.organizer.user ? _event.organizer.user.mail : _event.organizer.mail %>)</span>
    </p>
    <%}%>
    <%if(_event.type != '3'){%>
    <p class="input-group">
        <label><%= '_[[Participants]]' %>:</label>
        <% if(_event.attendee) { %>
                <span class="large" >
                <% for (var m=0; m < _event.attendee.length; m++) { %>
                    <span class="large"><%=_event.attendee[m].name%>  (<%= _event.attendee[m].mail %>)</span>
                <%}%>
                </span>
        <%}%>
    </p>
    <%}
    if(_event.type == '3'){%>
    <p class="input-group">
        <label><%= '_[[Tasks]]' %></label>
        <% if(_event.tasks) { %>
                <span class="large" >
                <% for (var m in _event.tasks) { %>
                    <span class="large"><%=_event.tasks[m].description%></span>
                <%}%>
                </span>
        <%}%>
    </p>
    <%}%>

    <p class="input-group">
        <label><%= '_[[Presence]]' %>:</label>
        <span> <%= encoder.status[ _event.status ] %> </span>
    </p>

</fieldset>
