<%var signature = data.signature%>
<div class="evt-list-options my-evt-list-options fg-menu-container ui-widget ui-widget-content ui-corner-all evt-option" style="top: <%=data.top%>px;left: <%=data.left%>px">
	<ul class="fg-menu ui-corner-all evt-option">
		<%if(signature.isOwner == "1"){%>
                    <%if(data.isRecurrence){%>
                        <li role="menuitem" class="copy menu-item"><a href="#" class="ui-corner-all"><%= '_[[Copy repetition]]' %></a></li>
                        <li role="menuitem" class="ocurrency copy menu-item"><a href="#" class="ui-corner-all"><%= '_[[Copy occurrence]]' %></a></li>
                    <%}else{%>
                        <li role="menuitem" class="copy menu-item"><a href="#" class="ui-corner-all"><%= '_[[Copy to]]' %></a></li>
                    <%}%>
			<li role="menuitem" class="move menu-item"><a href="#" class="ui-corner-all"><%= '_[[Move to]]' %></a></li>
			<li role="menuitem" class="menu-item"><a href="../prototype/modules/calendar/export.php?event=<%=data.event%>" class="ui-corner-all"><%= '_[[Export]]' %></a></li>
			 <%if(data.isRecurrence){%>
                                <li role="menuitem" class="menu-item"><a href="#" onclick="remove_event(<%= data.event%>, <%= signature.calendar.id %>);" class="ui-corner-all"><%= '_[[Remove repetition]]' %></a></li>
                                <li role="menuitem" class="menu-item"><a href="#" onclick="remove_ocurrence(<%= data.event%>, <%= data.idRecurrence%>);" class="ui-corner-all"><%= '_[[Remove occurence]' %></a></li>
                            <%}else{%>
                                <li role="menuitem" class="menu-item"><a href="#" onclick="remove_event(<%= data.event%>, <%= signature.calendar.id %>);" class="ui-corner-all"><%= '_[[Remove]]' %></a></li>
                            <%}%>
		<%}else{%>
			<li role="menuitem" class="copy menu-item"><a href="#" class="ui-corner-all copy"><%= '_[[Copy to]]' %></a></li>
			<%if(signature.permission.acl['write']){%>
				<li role="menuitem" class="move menu-item"><a href="#" class="ui-corner-all move"><%= '_[[Move to]]' %></a></li>
			<%}%>
			<li role="menuitem" class="menu-item"><a href="../prototype/modules/calendar/export.php?event=<%=data.event%>" class="ui-corner-all"><%= '_[[Export]]' %></a></li>
			<%if(signature.permission.acl['write'] || signature.permission.acl['remove']){%>
                            <%if(data.isRecurrence){%>
                                <li role="menuitem" class="menu-item"><a href="#" onclick="remove_event(<%= data.event%>, <%= signature.calendar.id %>);" class="ui-corner-all"><%= '_[[Remove repetition]]' %></a></li>
                                <li role="menuitem" class="menu-item"><a href="#" onclick="remove_ocurrence(<%= data.event%>, <%= data.idRecurrence%>);" class="ui-corner-all"><%= '_[[Remove occurence]' %></a></li>
                            <%}else{%>
                                <li role="menuitem" class="menu-item"><a href="#" onclick="remove_event(<%= data.event%>, <%= signature.calendar.id %>);" class="ui-corner-all"><%= '_[[Remove]]' %></a></li>
                            <%}%>
			<%}%>
		<%}%>
	</ul>
</div>

 
<div class="calendar-copy-move evt-list-options my-evt-list-options fg-menu-container ui-widget ui-widget-content ui-corner-all evt-option" style="top: <%= data.top%>px;left: <%=data.left + 100%>px; display:none;">
	<input type="hidden" name="typeEvent"/>
	<ul class="fg-menu ui-corner-all evt-option">
		<% for( var i = 0; i < data.calendars.length; i++ ){ %>
			<li role="menuitem" class="calendar-list  <%=(data.calendars[i].id == signature.calendar.id) ? 'calendar-already' : '' %>">
				<a href="#"  onclick="copyAndMoveTo(<%=data.calendars[i].id %> ,<%= data.event%>, <%= data.idRecurrence%>);" class="ui-corner-all"><%=data.calendars[i].name %></a>
			</li>
		<% } %>
	</ul>
</div>