<div class="preferences-win active" title="<%= '_[[Agenda Settings]]' %>">
	<h3><%= '_[[General preferences]]' %></h3>
	<div class="header-menu-container">
		<a class="button cancel" href="#"><%= '_[[Cancel]]' %></a>
		<a class="button save" href="#"><%= '_[[Save]]' %></a>
	</div> 

	<form method="POST" action="modulePreference:detail">

		<fieldset class="no-legend">
			<legend class="hidden"><%= '_[[General preferences]]' %></legend>

			<p class="input-group">
				<label for="dateFormat" class="small"><%= '_[[Date format]]' %>:</label>
				<select name="dateFormat" >
					<option value="dd/MM/yyyy" <%= data.preferences.dateFormat =='dd/MM/yyyy' ? 'selected="selected"':'' %>>31/12/2011</option>
					<option value="dd-MM-yyyy" <%= data.preferences.dateFormat =='dd-MM-yyyy' ? 'selected="selected"':'' %>>31-12-2011</option>
					<option value="MM/dd/yyyy" <%= data.preferences.dateFormat =='MM/dd/yyyy' ? 'selected="selected"':'' %>>12/31/2011</option>
				</select>
			</p>

			<p class="input-group">
				<label for="hourFormat"><%= '_[[Time format]]' %>:</label>
				<select name="hourFormat" >
					<option value="HH:mm" <%= data.preferences.hourFormat =='HH:mm' ? 'selected="selected"':'' %>>24 <%= '_[[hours]]' %></option>
					<option value="hh:mm tt" <%= data.preferences.hourFormat =='hh:mm tt' ? 'selected="selected"':'' %>>12 <%= '_[[hours]]' %> (am/pm)</option>
				</select>
			</p>
			
			<p class="input-group">
				<label for="timezone"><%= '_[[Current time zone]]' %>:</label>
				<select name="timezone"> </select>
			</p>
			
			<p class="input-group">
				<label for="defaultCalView"><%= '_[[Default calendar view]]' %>:</label>
				<select name="defaultCalView" >
					<option value="agendaDay" <%= data.preferences.defaultCalView =='agendaDay' ? 'selected="selected"':'' %>><%= '_[[Daily with time]]' %></option>
					<option value="basicDay" <%= data.preferences.defaultCalView =='basicDay' ? 'selected="selected"':'' %>><%= '_[[Daily without time]]' %></option>
					<option value="agendaWeek" <%= data.preferences.defaultCalView =='agendaWeek' ? 'selected="selected"':'' %>><%= '_[[Weekly]]' %></option>
					<option value="month" <%= data.preferences.defaultCalView =='month' ? 'selected="selected"':'' %>><%= '_[[Monthly]]' %></option>
					<option value="year" <%= data.preferences.defaultCalView =='year' ? 'selected="selected"':'' %>><%= '_[[Annual]]' %></option>
				</select>
			</p>
			<p class="input-group">
				<label for="weekStart"><%= '_[[First day of week]]' %>:</label>
				<select name="weekStart" >
				<option value="SUN" <%= data.preferences.weekStart =='SUN' ? 'selected="selected"':'' %>><%= '_[[Sunday]]' %></option>
					<option value="MON" <%= data.preferences.weekStart =='MON' ? 'selected="selected"':'' %>><%= '_[[Monday]]' %></option>
					<option value="TUE" <%= data.preferences.weekStart =='TUE' ? 'selected="selected"':'' %>><%= '_[[Tuesday]]' %></option>
					<option value="WED" <%= data.preferences.weekStart =='WED' ? 'selected="selected"':'' %>><%= '_[[Wednesday]]' %></option>
					<option value="THU" <%= data.preferences.weekStart =='THU' ? 'selected="selected"':'' %>><%= '_[[Thursday]]' %></option>
					<option value="FRI" <%= data.preferences.weekStart =='FRI' ? 'selected="selected"':'' %>><%= '_[[Friday]]' %></option>
					<option value="SAT" <%= data.preferences.weekStart =='SAT' ? 'selected="selected"':'' %>><%= '_[[Saturday]]' %></option>
				</select>
			</p>			
                        
			<p class="input-group">
                <label for="defaultStartHour"><%= '_[[Default start time]]' %>:</label>
				<input type="text" class="time" value="<%= (data.preferences.defaultStartHour) ? data.preferences.defaultStartHour : '' %>" name="defaultStartHour" /> 
			</p>
			
			<p class="input-group">
                <label for="defaultEndHour"><%= '_[[Default end time]]' %>:</label>
				<input type="text" class="time" value="<%= (data.preferences.defaultEndHour) ? data.preferences.defaultEndHour : '' %>" name="defaultEndHour" /> 
			</p>
			
			<p class="input-group">
				<label for="defaultDuration"><%= '_[[Duration of an appointment (in minutes)]]' %>:</label>
				<input name="defaultDuration" value="<%= data.preferences.defaultDuration%>" type="text" class="number inputNumber"/>
			</p>

			<p class="input-group"> 
                <label for="defaultCalendar"><%= '_[[Default agenda for importing events]]' %>:</label>
                <select name="defaultCalendar" > 
                    <%for(var i = 0; i < data.calendars.length; i++){%> 
                        <option value="<%=data.calendars[i].id%>"> <%= data.calendars[i].name %></option> 
                    <%}%> 
                </select>
			</p>

            <p class="input-group">
                <label for="dafaultImportCalendar"><%= '_[[Default schedule for Import Events]]' %>:</label>
                <select name="dafaultImportCalendar" >
                    <option value=""> </option>
                    <%for(var i = 0; i < data.calendars.length; i++){
                     if(data.signatureOf[data.calendars[i].id].isOwner == '1'){
                    %>
                    <option value="<%=data.calendars[i].id%>"> <%= data.calendars[i].name %></option>
                    <%}}%>
                </select>
            </p>

			<p class="input-group">
				<label for="useDesktopNotification"><%= '_[[Use desktop alarm]]' %>:</label>
				<select name="useDesktopNotification" >
					<option value="1" <%= data.preferences.useDesktopNotification == '1' ? 'selected="selected"' : '' %>><%= '_[[Yes]]' %></option>
					<option value="0" <%= data.preferences.useDesktopNotification != '1' ? 'selected="selected"' : '' %>><%= '_[[No]]' %></option>
				</select>
			</p>
			
		</fieldset>

	</form>
  
    
  <div class="header-menu-container">
	<a class="button cancel"><%= '_[[Cancel]]' %></a>
    <a class="button save"><%= '_[[Save]]' %></a>
  </div>
  
  
</div>
