<li class="user-list <%=data[0].isCurrent ? 'current' : 'new' %>">
	<div style="overflow:hidden; width:999px; display:table;">
		<%if(data[0].isCalendar){%>
			<div class="user-acls-shared-calendar calendar">
					<a class="button close new"><%= '_[[Remove]]' %></a>
			</div>
			
			<input type="checkbox" class="hidden" name="idPermission" value="<%=data[0].idPermission%>">
			<input type="hidden" name="calendar[]" value="<%=data[0].id%>">
			<input type="hidden" name="type[]" value="<%=data[0].type%>">
			<label title="<%= !!data[0].description ? data[0].description : data[0].name %>" class="name"><%= data[0].name ? data[0].name : '' %></label>
		<%}else{%>
			<div class="user-acls-shared-calendar">
					<a class="button read user-options-button-view new"><%= '_[[See]]' %></a>
					<a class="button write user-options-button-edit-new new"><%= '_[[Create/Edit]]' %></a>
					<a class="button remove user-options-button-remove new"><%= '_[[Delete]]' %></a>
					<a class="button busy user-options-button-free-bussy new"><%= '_[[Free/Busy]]' %></a>
					<a class="button shared user-options-button-shared new"><%= '_[[Share]]' %></a>
					<a class="button close new"><%= '_[[Remove]]' %></a>
			</div>

		<input type="checkbox" value="<%=data[0].isCurrent ? data[0].idPermission : data[0].id%>">
		<input type="hidden" name="user[]" value="<%=data[0].id%>">
		<input type="hidden" name="attendeeAcl[]" value="<%=data[0].aclValues%>">
		
		<label title="<%=data[0].name%>" class="name"><%= data[0].name ? data[0].name : '' %></label>
		<label title="<%=data[0].mail%>" class="mail <%= data[0].name ? 'hidden' : ''%>"><%= data[0].mail ? data[0].mail : '' %></label>
		<%}%>
	</div>
	
</li>