<div id="fileupload_msg<%=data.ID%>" class="fileupload" style="margin : 15px 0px -5px -10px; padding-bottom : 5px;">
	<div class="row fileupload-buttonbar">
		<div class="button-files-upload">
			<span class="fileinput-button button small">
				<span style="margin-top: 4px; cursor:pointer;"><i class="icon-plus icon-white"></i><%= '_[[Attach files]]' %></span>
				<input type="file" id="fileInput<%=data.ID%>" name="files[]" multiple>
			</span>
			<button class="message-attach-link button small">
				<span><%= '_[[Attach messages]]' %></span>
			</button>
		</div>
    </div>
    <br />
    <div class="files-list">
        <div class="attachments-list ui-corner-all" style="display:none;"></div>
    </div>
</div>
<div id="fileupload_msg<%=data.ID%>_droopzone" style="display:none;" class="fileupload_msg_tooltip">
	<%= '_[[Drop here annexes]]' %>
</div>