<div id="importMessageAccordion"  style="overflow:hidden;">
	<h3>
		<a href="#">
			<%= get_lang('Choose the file')%>
		</a>
	</h3>			 
	<div>
		<div class="row fileupload-buttonbar">
			<div class="button-files-upload">
		    	<span class="button small btn-success fileinput-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
					<span class="ui-button-text">
					    <span><%= get_lang("Select a zip file or eml")%></span>
					    <form id="importFileMessages" method="POST" name="form_import" enctype="multipart/form-data">
					    	<input type="file" name="file_1" />
					    	<input type="hidden" name="countFiles" value="1" />
					    	<input type="hidden" name="folder" />
					    </form>
 				  	</span>
				</span> 
	    	</div>
		</div>
		
		<div style="margin-top: 35px;">
			<label><%= get_lang('File name')%>:</label>
			<label id="lblFileName"></label>
		</div>
	</div>
	<h3>
		<a href="#"><%= get_lang('Select a folder')%></a>
	</h3>
	<div style="overflow : auto;">
		<div id="foldertree-container-importMessage" class="empty-container">
			<span class="message"><%=get_lang('no folder found')%></span>
		</div>
	</div>
</div>
