<ul id="<%= id %>"><%

  for(var i=0; i<list.length; i++)
  {
      if( typeof filter !== "undefined" )
	  list[i] = filter( list[i] );

      if( !list[i] )
	    continue;

      %><li id="<%= list[i].id %>" class="<%= list[i].class %>" title="<%= list[i].title%>"><%= list[i].content %>
      <%

      if (list[i].children && list[i].children.length>0)
	      mount_list(array_trees[i].children);

      %></li><%
  }

%></ul>'