<div style="width:auto;">	
	<table>
		<tr>
			<td>
				<span><%=get_lang('Nickname')%>:</span>
			</td>
			<td>
				<input type="text" value="<%=data.nick%>" maxlength="50" id="quickAddOne_nickName" style="width:205px;"/>
			</td>
		</tr>
		
		<tr>
			<td>
				<span><%=get_lang('First Name')%>:</span>
			</td>
			<td>
				<input type="text" value="<%=data.fname%>" maxlength="50" id="quickAddOne_firstName" style="width:205px;" class="required-field"/>
			</td>
		</tr>
		
		<tr>
			<td>
				<span><%=get_lang('Last Name')%>:</span>
			</td>
			<td>
				<input type="text" value="<%=data.lname%>" maxlength="50" id="quickAddOne_lastName" style="width:205px;"/>
			</td>
		</tr>
		
		<tr>
			<td>
				<span><%=get_lang('Email')%>:</span>
			</td>
			<td>
				<input type="text" value="<%=data.email%>" maxlength="50" id="quickAddOne_email" style="width:205px;" class="required-field"/>
			</td>
		</tr>
	</table>
</div>