	<fieldset style="width:340px; height:350px; text-align:right; padding: 5px; position:absolute; margin:5px; border:0px ">
		<legend><%=get_lang('Inform your search in the text fields')%></legend>
	
		<label><%=get_lang('From')%>:</label>
		<input style="margin-left: 6px;" type="text" id="txt_from" size="20"/>
		<br style="margin-bottom:15px" />

		<label><%=get_lang('To')%>:</label>
		<input style="margin-left: 6px;" type="text" id="txt_to" size="20" />
		<br style="margin-bottom:15px"/>

		<label><%=get_lang('Cc')%>:</label>
		<input style="margin-left: 6px;" type="text" id="txt_cc" size="20" />
		<br style="margin-bottom:15px"/>

		<label><%=get_lang('Subject')%>:</label>
		<input style="margin-left: 6px;" type="text" id="txt_subject" size="20" />
		<br style="margin-bottom:15px"/>

		<label><%=get_lang('Message body')%>:</label>
		<input style="margin-left: 6px;" type="text" id="txt_body" size="20" />
		<br style="margin-bottom:30px" />
	
		<div style="text-align: right; margin-bottom:10px;">
			<label><%=get_lang('Since Date')%>:</label>
			<input style="margin-left: 3px; width:82px;" type="text" id="since_date" onkeypress="return dateMask(this, event);" />
			<label><%=get_lang('Before Date')%>:</label>
			<input style="margin-left: 3px; width:82px;" type="text" id="before_date" onkeypress="return dateMask(this, event);" />
		</div>
		
		<label><%=get_lang('On Date')%>:</label>
		<input style="margin-left: 3px; width:82px;" type="text" id="on_date" onkeypress="return dateMask(this, event);" />
		<br/>
		<br/>

		<label><%=get_lang('Flags')%>:</label>

		<select style="width:15em; margin-left: 6px" name="flagged" id="flagged">
			<option value=""/>
			<option value="FLAGGED"><%=get_lang('Flagged')%></option>
			<option value="UNFLAGGED"><%=get_lang('Unflagged')%></option>
		</select>

		<br style="margin-bottom:15px"/>
	
		<select style="width:15em;" name="seen" id="seen">
			<option value=""/>
			<option value="SEEN"><%=get_lang('Seen')%></option>
			<option value="UNSEEN"><%=get_lang('Unseen')%></option>
		</select>
	
		<br style="margin-bottom:15px"/>
	
		<select style="width:15em;" name="answered" id="answered">
			<option value=""/>
			<option value="ANSWERED"><%=get_lang('Answered/Forwarded')%></option>
			<option value="UNANSWERED"><%=get_lang('Unanswered/Unforwarded')%></option>
		</select>
	
		<br style="margin-bottom:15px"/>
</fieldset>

<fieldset style="width:395px; height:350px; padding: 5px; position:absolute; margin-left: 365px; margin-top:5px; border:0px;">
	
	<legend>
		<%=get_lang('Search the messages in these folders')%>
	</legend>

	<div id="divFoldersSearch" style="width:165px; height:150px; float:left; margin-bottom:10px; border:1px outset black; background:#FFFFFF; overflow:auto;"></div>
	
	<div style="float:left; height:100px; padding-top:50px; margin: 0 3px;">
		<button class="addFolder"></button>
		<br style="margin-bottom:15px"/>
		<button class="delFolder"></button>
	</div>
	
	<div style="float:left;">
		<select multiple="true" id="sel_search_nm_box1" name="sel_search_nm_box1" style="width:165px;height:150px; background:#FFFFFF; color:#FC6103; font-size:10px; font-family:sans-serif; font-weight:bold"></select>
	</div>
	
	<br clear="both"/>

	<input type="checkBox" id="check_all_msg" name="check_all_msg"/>
	
	<b><%=get_lang('In all the folders')%></b>
	
</fieldset>