<link rel="stylesheet" href="../prototype/modules/attach_message/attach_message.css" type="text/css" />	
<div class="expresso-window-container" title="<%=get_lang('Select messages to attach...')%>">
	<div id="foldertree-container" class="empty-container">
		<span class="message"><%=get_lang('no folder found')%></span>
	</div>
	<div id="mailgrid-container" class="empty-container">
		<span class="message"><%=get_lang('no folder selected')%></span>
	</div>
	<div id="mailpreview_container">
		<ul id="mailpreview_tabs"></ul>
	</div>
	<div id="buttons-container">
		<span class="button" id="message-attach-cancel-btn"><%=get_lang('Cancel')%></span>
		<span class="button" id="message-attach-attach-btn"><%=get_lang('Attach')%></span>
	</div>
</div>
